<div>
    <h1>Benvenuto nell noleggio ITS!</h1> 
    <div>
        <h2>Noleggio bici a Vicenza</h2>
        <p>Prenota ora la tua bici</p>
    </div>
</div>

<!--
<h1>BENVENUTO NELLA HOME</h1>

<button class="btn btn-danger mb-4" (click)="logout()">Logout</button>


<div *ngIf="isGraph; else tableView">
    <div style="display: block; max-width: 700px; margin: auto;">
        <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType">
        </canvas>
        <button class="btn btn-primary mt-3" (click)="toggleView()">Show Table</button>
    </div>

</div>
 -->
