<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Le mie prenotazioni</h2>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <div *ngIf="!loading && prenotazioni.length === 0" class="alert alert-info">
    Non hai ancora effettuato nessuna prenotazione.
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let p of prenotazioni">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Prenotazione #{{ p.id }}</h5>
          <p class="card-text">
            <strong>Negozio</strong> {{ p.puntoVendita.nome }} - ({{ p.puntoVendita.citta }})<br>
            <strong>Data ritiro:</strong> {{ p.dataRitiro | date:'dd/MM/yyyy' }}<br>
            <strong>Orario ritiro:</strong> {{ p.oraRitiro |date:'HH:mm' }}<br>
            <strong>Riconsegna:</strong> {{ p.dataOraRiconsegna | date:'dd/MM/yyyy HH:mm' }}<br>
            <strong>Totale:</strong> €{{ p.totale }}<br>
            <strong>Stato:</strong>
            <span class="badge" [ngClass]="{
              'bg-warning': p.stato === 'IN_ATTESA',
              'bg-success': p.stato === 'CONFERMATA',
              'bg-danger': p.stato === 'CANCELLATA'
            }">{{ p.stato }}</span>
          </p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
            <button class="btn btn-sm btn-outline-danger" (click)="cancellaPrenotazione(+p.id)">
              <i class="bi bi-trash"></i> Cancella
            </button>
            <button class="btn btn-primary" (click)="openModal(+p.id)">
              <i class="bi bi-trash"></i> Modifica
            </button>
        </div>
      </div>
    </div>
  </div>
</div>